@use 'variaveis';

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variaveis.$fonte-base;
  line-height: 1.6;
  color: variaveis.$cor-cinza-escuro;
  background-color: variaveis.$cor-branca;
}
