@use 'variaveis' as *;
@use 'sass:color';

@mixin espaco-vertical($multiplo: 1) {
  margin-top: $espacamento-medio * $multiplo;
  margin-bottom: $espacamento-medio * $multiplo;
}

@mixin botao-basico($bg-color, $cor-texto, $radius: 8px) {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: $bg-color;
  color: $cor-texto;
  text-decoration: none;
  font-weight: bold;
  border-radius: $radius;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: color.scale($bg-color, $lightness: -10%);
  }
}
